<app-header></app-header>
<div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-8">
  <div class="flex items-center justify-between pb-6">
    <div>
      <h2 class="font-semibold text-gray-700">User Accounts</h2>
      <i class="fa-solid fa-user-plus fa-xl mt-5 cursor-pointer"></i>
    </div>
  </div>
  <div class="overflow-y-hidden rounded-lg border">
    <div class="overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="bg-primary text-left text-xs font-semibold uppercase tracking-widest text-white">
            <th class="px-5 py-3">ID</th>
            <th class="px-5 py-3">Full Name</th>
            <th class="px-5 py-3">Username</th>
            <th class="px-5 py-3">User Role</th>
            <th class="px-5 py-3">Created at</th>
            <th class="px-5 py-3">Status</th>
            <th class="px-5 py-3">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-500">
          <tr *ngFor="let user of users">
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <p class="whitespace-no-wrap">{{ user.idUser }}</p>
            </td>
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <div class="flex items-center">
                <div class="h-10 w-10 flex-shrink-0">
                  <img class="h-full w-full rounded-full" [src]="user.linkImage" alt="" />
                </div>
                <div class="ml-3">
                  <p class="whitespace-no-wrap">{{ user.name + " " + user.lastname }}</p>
                </div>
              </div>
            </td>
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <p class="whitespace-no-wrap">{{ user.username }}</p>
            </td>
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <p class="whitespace-no-wrap">{{ user.role }}</p>
            </td>
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <p class="whitespace-no-wrap">{{ user.startDate | date: 'MMM d, y, h:mm:ss a' }}</p>
            </td>
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <span [ngClass]="{
                'bg-green-200': user.status === 'A',
                'bg-yellow-200': user.status === 'Suspended',
                'bg-red-200': user.status === 'I'
              }">
                {{ user.status === 'A' ? 'Activo' : (user.status === 'I' ? 'Inactivo' : user.status) }}
              </span>
            </td>
            <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
              <i class="fa-solid fa-pen-to-square fa-lg mr-2 cursor-pointer"></i>
              <i class="fa-solid fa-trash fa-lg cursor-pointer"></i>
            </td>            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex flex-col items-center border-t bg-white px-5 py-5 sm:flex-row sm:justify-between">
      <span class="text-xs text-gray-600 sm:text-sm"> Showing 1 to {{ users.length }} of {{ users.length }} Entries </span>
      <div class="mt-2 inline-flex sm:mt-0">
        <button class="mr-2 h-12 w-12 rounded-full border text-sm font-semibold text-gray-600 transition duration-150 hover:bg-gray-100">Prev</button>
        <button class="h-12 w-12 rounded-full border text-sm font-semibold text-gray-600 transition duration-150 hover:bg-gray-100">Next</button>
      </div>
    </div>
  </div>
</div>
