<div *ngIf="isOpen" class="fixed inset-0 z-10 flex items-center justify-center">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="bg-white p-8 rounded-lg shadow-md w-96 relative flex flex-col items-start">
        <button (click)="closeModal()" type="button" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
        <h3 class="text-lg font-semibold">{{ course.course.name }}</h3>
        <br>
        <h1 class="text-gray-500 tracking-widest title-font mb-1">Avance:</h1>

        <div class="flex items-center space-x-4">
            <i (click)="subtract()" class="fa-solid fa-minus fa-2xl cursor-pointer"></i>
            <h1 class="text-gray-500 tracking-widest title-font text-center mb-2">{{ progressValueSubject.value }}%</h1>
            <i (click)="add()" class="fa-solid fa-plus fa-2xl cursor-pointer"></i>
        </div>
        
        <h1 class="text-gray-500 tracking-widest title-font mb-1">Evidencias:</h1>
        <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 mt-4 mb-4" id="multiple_files" type="file" multiple (change)="onFileSelected($event)">
        <div class="max-h-40 overflow-auto">
            <span class="inline-block bg-blue-500 text-white rounded-full px-2 py-1 text-xs font-bold uppercase mr-2 mb-1" *ngFor="let file of course.evidenceFiles">{{ file.name }}</span>
        </div>
    </div>
</div>
